.ml-19 {
  margin-left: 1.19rem;
}
.mt-126 {
  margin-top: 7.88rem;
}
.mt-11 {
  margin-top: 0.69rem;
}
.mt-9 {
  margin-top: 0.56rem;
}
.mt-3 {
  margin-top: 0.19rem;
}
.mt-23 {
  margin-top: 1.44rem;
}
.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group_1 {
  overflow-y: auto;
}
.section {
  padding: 3.13rem 1.94rem;
  background-repeat: no-repeat;
}
.image {
  width: 2.5rem;
  height: 2.5rem;
}
.group {
  margin-top: 2.13rem;
}
.image_2 {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.text {
  margin-top: 0.46rem;
  color: #000000;
  font-size: 1.5rem;
  font-family: SourceHanSansCN;
  font-weight: 700;
  line-height: 1.42rem;
}
.group_2 {
  margin-top: 3.5rem;
  padding: 0 1.19rem;
}
.equal-division {
  margin-left: 0.085rem;
  margin-right: 0.094rem;
}
.equal-division-item {
  padding-top: 0.1rem;
}
.image_3 {
  width: 2.29rem;
  height: 2.29rem;
}
.image_1 {
  margin-left: 0.27rem;
}
.font {
  font-size: 0.88rem;
  font-family: SourceHanSansCN;
  line-height: 0.82rem;
  font-weight: 700;
  color: #000000;
}
.text_2 {
  line-height: 0.83rem;
}
.text_18 {
  line-height: 0.84rem;
}
.text_1 {
  line-height: 0.84rem;
}
.text_17 {
  line-height: 0.83rem;
}
.group_3 {
  margin-top: 1.03rem;
  padding: 0.7rem 0 0.21rem;
}
.image_4 {
  width: 1.75rem;
  height: 1.75rem;
}
.pos_2 {
  position: absolute;
  left: 6.25rem;
  top: 50%;
  transform: translateY(-50%);
}
.text_23 {
  line-height: 0.83rem;
}
.section_2 {
  margin-top: 0.44rem;
  padding: 1.13rem 3.33rem 1.06rem;
  background-color: #ffc700;
}
.group_4 {
  margin-right: -13.62rem;
}
.section_3 {
  padding: 0 0.27rem;
  background-image: url('https://ide.code.fun/api/image?token=68176238defdb100111df51c&name=1fb2d7f1a96eeea13b3fda7ee3516151.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 9.06rem;
}
.font_2 {
  font-size: 0.63rem;
  font-family: SourceHanSansCN;
  line-height: 0.59rem;
  font-weight: 700;
  color: #000000;
}
.text_3 {
  line-height: 0.59rem;
}
.text_6 {
  line-height: 0.59rem;
}
.text_7 {
  line-height: 0.59rem;
}
.text_5 {
  margin-left: -0.37rem;
  margin-top: 3.5rem;
  line-height: 0.59rem;
}
.text_4 {
  margin-right: 11.41rem;
  margin-top: 3.5rem;
}
.group_5 {
  padding: 0.96rem 0 0.53rem;
}
.pos_3 {
  position: absolute;
  left: 6.69rem;
  top: 50%;
  transform: translateY(-50%);
}
.section_4 {
  padding-top: 1.54rem;
  background-color: #ffc700;
}
.grid {
  width: 16.11rem;
  height: 7.87rem;
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 0;
  column-gap: 0;
}
.grid-item_1 {
  padding: 0.69rem 0 0.57rem;
  width: 5.37rem;
}
.image_5 {
  width: 1.72rem;
  height: 1.72rem;
}
.text_12 {
  line-height: 0.59rem;
}
.grid-item {
  padding: 0.69rem 0 0.57rem;
  width: 5.37rem;
}
.text_13 {
  line-height: 0.59rem;
}
.grid-item_3 {
  padding: 0.69rem 0 0.57rem;
  width: 5.37rem;
}
.text_14 {
  line-height: 0.6rem;
}
.grid-item_4 {
  padding-top: 0.75rem;
  width: 5.37rem;
}
.grid-item_5 {
  padding-top: 0.75rem;
  width: 5.37rem;
}
.text_15 {
  line-height: 0.59rem;
}
.text_16 {
  line-height: 0.59rem;
}
.section_1 {
  padding: 1.88rem 2.31rem 0.16rem 2.38rem;
  background-color: #ffc700;
}
.equal-division_2 {
  align-self: stretch;
}
.equal-division-item_2 {
  padding-top: 0.1rem;
  width: 2.5rem;
}
.font_3 {
  font-size: 0.88rem;
  font-family: SourceHanSansCN;
  line-height: 0.82rem;
  color: #000000;
}
.text_22 {
  line-height: 0.81rem;
}
.equal-division-item_3 {
  padding: 0.1rem 0 0.13rem;
  width: 2.5rem;
}
.text_21 {
  line-height: 0.81rem;
}
.equal-division-item_4 {
  padding: 0.1rem 0 0.19rem;
  width: 2.5rem;
}
.text_19 {
  line-height: 0.8rem;
}
.equal-division-item_5 {
  padding: 0.1rem 0 0.19rem;
  width: 2.5rem;
}
.text_20 {
  line-height: 0.81rem;
}
.section_5 {
  background-color: #000000;
  border-radius: 6.25rem;
  width: 13.06rem;
  height: 0.31rem;
}
